<ion-content>
    <div class="main_content_div" [style.backgroundImage]="'url(assets/imgs/girl.jpg)'">
        <div class="content_div">
            <ion-label class="bold_lbl">Find Your best match with us</ion-label>
            <ion-label class="small_lbl">Let's find your life partner to enjoy life to be better and prosperous.</ion-label>
            <div class="btn_div">
                <ion-button mode="ios" (click)="goToLogin()">
                    Get Started
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>
