.main_content_div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;

    .content_div {
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: white;
        padding: 30px;

        ion-label {
            display: block;
        }

        .bold_lbl {
            font-family: 'semi-bold';
            font-size: 24px;
            margin-bottom: 20px;
        }
        .small_lbl {
            font-size: 14px;
            color: grey;
        }

        .btn_div {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;

            ion-button {
                --border-radius: 25px;
                font-size: 14px;
                letter-spacing: 1px;
                width: 130px;
                margin: 0px;
                height: 50px;
                font-family: 'medium';
                text-transform: capitalize;
            }
        }
    }
}
