.main_content_div {

    ion-label {
        display: block;
    }
    .pink_div {
        width: 100%;
        height: 200px;
        background: var(--ion-color-primary);
        background: rgba(222, 69, 123, 0.2);

        .action_btn {
            height: 30px;
            width: 30px;
            background: var(--ion-color-primary);
            border-radius: 5px;
            position: absolute;
            top: 40px;
            right: 16px;

            ion-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: white;
                font-size: 20px;
            }
        }
    }

    .image_back {
        width: 120px;
        height: 140px;
        border-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 100px;
    }
    .white_div {
        background: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        height: 300px;
        width: 100%;
        margin-top: -30px;
        padding-top: 85px;

        .name_lbl {
            text-align: center;
            font-size: 18px;
            font-family: 'medium';
        }

        .flex_div {
            border-bottom: 2px solid #eee;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4px 16px;
        }

        ion-input, ion-datetime {
            text-align: right;
            font-family: 'regular';
            --padding-end: 0px;
            font-size: 15px;
        }

        ion-select {
            --padding-end: 5px;
            font-size: 15px;
        }

        ion-textarea {
            font-size: 15px;
        }

        .about_div {
            border-bottom: 2px solid #eee;
            padding: 16px 16px;
        }
    }
}
