.main_content_div {
    width: 100%;
    padding: 8px;

    ion-col {
        padding: 8px;
    }

    .back_user {
        width: 100%;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;

        .overlay {
            width: 100%;
            height: 100%;
            // background: rgba(0,0,0,0.5);
            background: linear-gradient(to top, black, transparent);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 10px;
            position: relative;

            ion-icon {
                color: white;
                color: red;
                color: var(--ion-color-primary);
                font-size: 20px;
                position: absolute;
                right: 10px;
                top: 10px;
            }
            ion-label {
                color: white;
                letter-spacing: 0.5px;
                font-size: 15px;
            }
        }
    }
}
