<ion-content>
    <div class="main_content_div">
        <!-- <ion-label class="bold_lbl">Login</ion-label>

        <ion-label class="small_lbl">Email ID</ion-label>
        <ion-input type="text" placeholder="Email ID"></ion-input>

        <ion-label class="small_lbl">Password</ion-label>
        <ion-input type="text" placeholder="Password"></ion-input>

        <ion-label class="forgot_lbl">Forgot Password ?</ion-label>
        <ion-button (click)="goToHome()" expand="block" mode="ios">
            Login
        </ion-button> -->

        <img src="assets/imgs/chat4.png" class="logo_img">


        <ion-label class="terms_lbl">By clicking Log In, you agree with our Terms.Learn how we peocess your data in our Privacy Policy and Cookie Policy</ion-label>

        <ion-button expand="block" mode="ios" (click)="goToHome()">
            <img src="assets/imgs/google.png">
            <ion-label>Continue with Google</ion-label>
        </ion-button>

        <ion-button expand="block" mode="ios" (click)="goToHome()">
            <ion-icon name="logo-facebook" style="color: rgb(66,103,178);"></ion-icon>
            <ion-label>Continue with Google</ion-label>
        </ion-button>

        <ion-button expand="block" mode="ios" (click)="goToHome()">
            <ion-icon name="chatbubble"></ion-icon>
            <ion-label>Continue with Phone Number</ion-label>
        </ion-button>


    </div>
</ion-content>
