.main_content_div {
    padding: 16px;

    ion-label {
        display: block;
    }

    .bold_lbl{
        font-family: 'semi-bold';
    }

    .user_slider {
        display: flex;
        margin-top: 16px;
        margin-bottom: 16px;
        overflow: scroll;

        .round_image {
            height: 56px;
            width: 56px;
            min-width: 56px;
            border-radius: 100%;
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 16px;
        }
    }

    .msg_list {
        .single_msg {
            border-bottom: 2px solid #eee;
            padding-top: 16px;
            padding-bottom: 16px;
            display: flex;
            align-items: center;
            position: relative;

            .back_user {
                height: 50px;
                width: 50px;
                min-width: 50px;
                border-radius: 100%;
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .user_detail {
                margin-left: 16px;
                .name_lbl {
                    font-size: 15px;
                    font-family: 'semi-bold';
                    letter-spacing: 0.5px;
                }
                .msg_lbl {
                    font-size: 14px;
                }
            }
            .time_lbl {
                font-size: 12px;
                color: grey;
                position: absolute;
                top: 16px;
                right: 0px;
            }
        }
    }
}
