.user_detail {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ion-label {
        display: block;
    }

    .back_user {
        width: 46px;
        height: 46px;
        min-width: 46px;
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 10px;
    }
    .name_lbl {
        font-size: 14px;
        font-family: 'medium';
    }
    .time_lbl {
        font-size: 12px;
        color: grey;
    }

    .icn_btn {
        height: 40px;
        width: 40px;
        border-radius: 5px;
        background: #eee;
        margin-right: 10px;
        position: relative;

        ion-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
.main_content_div {
    padding: 16px;

    .left_div{
        width: 100%;
        margin-bottom: 15px;

        .inner_div{
            width: 70%;
        }

        .msg_div{
            background: #eee;
            padding: 10px 15px;
            border-radius: 15px;
            border-bottom-left-radius: 0px;
            width: fit-content;
        }
        .time_lbl {
            font-size: 13px;
            color: grey;
            margin-top: 2px;
        }
    }
    .right_div{
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        justify-content: flex-end;


        .inner_div{
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
        }

        .msg_div{
            background: var(--ion-color-primary);
            padding: 10px 15px;
            border-radius: 15px;
            color: white;
            border-bottom-right-radius: 0px;
        }

        .time_div {
            display: flex;
            align-items: center;
            margin-top: 2px;

            ion-label {
                font-size: 13px;
                margin-right: 5px;
                color: grey;
            }
            ion-icon {
                color: deepskyblue;
            }
        }
    }
}
.footer_div {
    background: #eee;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 16px;

    ion-input {
        border-radius: 5px;
        height: 50px;
        --padding-start: 16px;
        --padding-end: 16px;
        font-family: 'regular';
    }

    ion-icon{
        // color: lightgray;
        color: var(--ion-color-primary);
        font-size: 20px;
        margin-right: 16px;
    }
}
