.main_content_div {
    width: 100%;
    height: 100%;

    ion-label {
        display: block;
    }

    ion-slides {
      height: 100%;
    }

    .back_image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .overlay {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.3);
        }

        .content_div {
            padding: 30px;
            position: absolute;
            width: 100%;
            z-index: 999;
            bottom: 0;

            .name_lbl {
                font-family: 'medium';
                color: white;
                font-size: 22px;
                margin-bottom: 10px;
            }
            .small_lbl {
                font-size: 14px;
                color: white;
            }
            .action_box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 30px;

                .white_box {
                    height: 46px;
                    width: 46px;
                    background: rgba(255,255,255,0.7);
                    border-radius: 5px;
                    position: relative;

                    ion-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        font-size: 20px;
                    }

                    .heart {
                        color: red;
                    }
                }

                .chat_icn {
                    color: white;
                    font-size: 25px;
                }
            }
        }
    }
}
