.main_content_div {
    width: 100%;

    ion-label {
        display: block;
    }

    .back_image {
        width: 100%;
        height: 400px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-top: 40px;
        padding-left: 16px;
        .back_btn {
            height: 34px;
            width: 34px;
            background: rgba(255,255,255,0.7);
            border-radius: 5px;
            position: relative;
            ion-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    .content_div {
        padding: 16px;

        .person_detail {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;

            .name_lbl {
                font-family: 'semi-bold';
                font-size: 22px;
            }
            .small_lbl {
                font-size: 14px;
                color: grey;
            }

            .message_box {
                height: 36px;
                width: 36px;
                border-radius: 5px;
                box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
                position: relative;

                ion-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 20px;
                    color: grey;
                }
            }
        }

        .bold_lbl {
            font-family: 'semi-bold';
            font-size: 16px;
            margin-bottom: 10px;
        }
        .about_lbl {
            font-size: 14px;
            margin-bottom: 16px;
        }

        .interest_div {
            display: flex;
            flex-wrap: wrap;

            ion-label {
                border: 1px solid var(--ion-color-primary);
                margin-right: 10px;
                border-radius: 12px;
                margin-bottom: 10px;
                font-size: 13px;
                padding: 5px 10px;
            }
        }
    }
}
