<ion-content>
    <div class="main_content_div">
        <div class="back_image" [style.backgroundImage]="'url(assets/imgs/girl.jpg)'">
            <div class="back_btn" (click)="goToBack()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </div>
        </div>
        <div class="content_div">
            <div class="person_detail">
                <div>
                    <ion-label class="name_lbl">Mausam</ion-label>
                    <ion-label class="small_lbl">Developer</ion-label>
                </div>
                <div class="message_box">
                    <ion-icon name="paper-plane"></ion-icon>
                </div>
            </div>

            <ion-label class="bold_lbl">About</ion-label>
            <ion-label class="about_lbl">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque mollitia placeat quibusdam
                ab officia. Ex natus exercitationem fugiat dolorem harum, molestiae voluptatum.
            </ion-label>

            <ion-label class="bold_lbl">Interests</ion-label>

            <div class="interest_div">
                <ion-label>Photography</ion-label>
                <ion-label>Reading</ion-label>
                <ion-label>Content Writing</ion-label>
                <ion-label>Travelling</ion-label>
                <ion-label>Music</ion-label>
                <ion-label>Dancing</ion-label>
            </div>


        </div>
    </div>
</ion-content>
